a {
    width: 32%;
    height: 2.5em;
    line-height: 2.5em;
    color: #fafafa;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #29354B;

    &:hover {
        color: #fafafa;
        font-weight: bold;
        background-color: #4f5b74;
    }

    &:first-child{
        border-radius: 5px 0px 0px 5px;
    }

    &:nth-child(2) {
        border: 1px solid #fafafa;
        border-width: 0px 2px 0px 2px;
    }

    &:last-child{
        border-radius: 0px 5px 5px 0px;
    }
}

.active-link {
    color: #fafafa;
    font-weight: bold;
    background-color: #396f77;
}

.navbar{
    border-radius: 5px;
}