ngb-carousel {
    width: 40%;

    img {
        width: 100%;
        height: 20vh;
        object-fit: contain;
    }
}

.projectInformation {
    width: 58%;
    text-align: justify;
    text-justify: inter-word;
}

:host ::ng-deep .carousel-control-next-icon,
:host ::ng-deep .carousel-control-prev-icon {
    filter: invert(1);
}

:host ::ng-deep .carousel-indicators button {
    filter: invert(1);
}

// h2{
//     font-weight: bold;
// }

:host ::ng-deep .accordion-body {
    background-color: #fafafa;
    color: #262225;
}

:host ::ng-deep .accordion-button{
    background-color: #fafafa;
    color: #262225;
}

@media only screen and (max-width: 575px) {
    ngb-carousel {
        width: 100%;
    }

    .projectInformation {
        width: 100%;
    }
}