<h1>Personal projects</h1>

<div class="d-flex flex-row">
    <div>
        <a href="lukassimanavicius.net" target="_blank">
            <h2>Project manager:</h2>
        </a>
        <p>A full stack web app using Java Spring Boot backend REST API, Angular frontend with Bootstrap stylings and
            MySQL database.
            <br>
            Hosted on a DigitalOcean VPS.
            <br>
            Registered users can add, remove and edit their personal projects.
            <br>
            Projects can have names, descriptions,
            dates, statuses, tasks and images.
        </p>
        <a href="lukassimanavicius.net" target="_blank">Check the project</a>
        <br>
        <a href="github.com/LukSiman/ProjectManager" target="_blank">GitHub</a>
    </div>
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let tempImage of images">
            <div>
                <img src="{{tempImage}}" alt="image"
                    class="">
            </div>
        </ng-template>
    </ngb-carousel>
</div>