#contacts{
    background-color: #ECEBE9;
    color: #262225;
}

#form{
    background-color: #bebebe;
    // background-color: #808894;
    color: #262225; 
}

#submit{
    background-color: #29354B;
    color: #ECEBE9;
}