<div id="contacts" class="container-fluid p-2 border border-3 rounded shadow">
    <h1>Contact details</h1>
    <p class="m-0">You can find me:</p>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/lukas-simanavicius/" target="_blank">My LinkedIn</a>
        </li>
        <li>
            <a href="https://github.com/LukSiman/" target="_blank">My GitHub</a>
        </li>
        <li>Use the contact form below:</li>
    </ul>

    <div id="form" class="p-3 border border-2 rounded shadow">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
            <div class="form-group mb-2">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter your email"
                    formControlName="email">
            </div>
            <div class="form-group mb-2">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" name="fullName" placeholder="Enter your full name"
                    formControlName="fullName">
            </div>
            <div class="form-group mb-2">
                <label for="comment">Comment</label>
                <textarea class="form-control" formControlName="comment" name="comment"
                    placeholder="Enter your comment">
        </textarea>
                <div *ngIf="formGroup.get('comment')?.invalid && (formGroup.get('comment')?.dirty || formGroup.get('comment')?.touched)"
                    class="alert alert-danger">
                    <div *ngIf="formGroup.get('comment')?.errors?.['required'] || formGroup.get('comment')?.errors?.['notOnlyWhitespace']">
                        Field is required.
                    </div>
                    <div *ngIf="formGroup.get('comment')?.errors?.['minlength']">
                        Comment must be at least 10 characters long.
                    </div>
                </div>

            </div>
            <button type="submit" id="submit" class="btn" [disabled]="!formGroup.valid">Submit</button>
            <button type="button" class="btn btn-danger ms-2" (click)="formCleaner()">Clear</button>
        </form>
    </div>
</div>